{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Galería</h1>
  </div>
</div>
<!-- Page Header End -->

<!-- Projects Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.05s" style="max-width: 600px">
      <h1 class="mb-4">Visualiza la galería del proyecto</h1>
    </div>
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/fK_hljCNF9Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/todos.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/todos.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Grupo completo</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Todos los involucrados en el proyecto Xeres Q10</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/control.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/control.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Grupo de control</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Encargados de la parte del control del Dron Xeres Q10</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/electronica.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/electronica.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Grupo de electrónica</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Encargados de la parte de electrónica del Dron Xeres Q10</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/mecanica.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img//Gallery/mecanica.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Grupo de mecánica</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Encargados de la parte mecánica del Dron Xeres Q10</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/ti.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/ti.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Grupo de Tecnologías de la información</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Encargados de las tecnologías de la información del proyecto</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/armando.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/armando.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Armado primer prototipo</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Grupo de mecánica armando primer prototipo del Dron</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/primer_prototipo.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img//Gallery/primer_prototipo.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Primer prototipo Xenes Q10</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Primer prototipo armado del Dron Xeres Q10</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static 'img/Gallery/pruebas_gps.jpg' %}" alt="" />
          <div class="portfolio-btn">
            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="{% static 'img/Gallery/pruebas_gps.jpg' %}" data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Prueba GPS</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">Grupo de TI probando el GPS en el software Mission Planner</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Projects End -->

{% endblock %}
