{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Nuestro Equipo</h1>
  </div>
</div>
<!-- Page Header End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
      <h1 class="mb-4">Miembros del equipo</h1>
    </div>

    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/CFO_Santiago_Gomez.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.santiago.gomez2@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://www.instagram.com/santi_gomez30/"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Santiago Gomez</h5>
            <span>CFO</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Control_Angel_Aponte.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="mailto: est.angel.aponte@unimilitar.edu.co"
                ><i class="fa fa-envelope"></i
              ></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://www.instagram.com/ancapma/"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Angel Aponte</h5>
            <span>Control</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Control_Dilan_Vega.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="mailto: est.dilan.vega@unimilitar.edu.co"
                ><i class="fa fa-envelope"></i
              ></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://www.instagram.com/dilanvega123/"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Dilan Vega</h5>
            <span>Control</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Control_Jorge_Zarate.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.jorge.zarate@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/jdavidzarate/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Jorge Zarate</h5>
            <span>Control</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Control_Nicolas_Jimenez.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.nicolas.jimenezv@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/nico_valbuena_7/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Nicolas Jimenez</h5>
            <span>Control</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Electronica_David_Bravo.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.david.bravo@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/davidbravo13/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>David Bravo</h5>
            <span>Electrónica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Electronica_Julian_Rivera.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.julian.rivera@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/julianrivera97/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Julian Rivera</h5>
            <span>Electrónica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Electronica_Samantha_Peña.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.samantha.pena@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/samthap_/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Samantha Peña</h5>
            <span>Electrónica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Electronica_Valentina_Lozano.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.valentina.lozano@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/vale_lozanof/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Valentina Lozano</h5>
            <span>Electrónica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Mecanica_Andersson_Rojas.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.andersson.rojas@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/andersson_rojas_cruz/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Andersson Rojas</h5>
            <span>Mecánica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Mecanica_Camilo_Vargas.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.camilo.vargas@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/camilo_vargas17/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Camilo Vargas</h5>
            <span>Mecánica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Mecanica_David_Malagon.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.david.malagon@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/santi.megalodon/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>David Malagón</h5>
            <span>Mecánica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Mecanica_Javier_Duarte.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.javier.duarte@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/javierfduartec/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Javier Duarte</h5>
            <span>Mecánica</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/TI_David_Prado.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.david.prado@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/davidprado_26/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>David Prado</h5>
            <span>Tecnologías de la información</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/TI_Jan_Suarez.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.jan.suarez@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/janddor9/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Jan Suarez</h5>
            <span>Tecnologías de la información</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/TI_Maick_Mosquera.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.linkedin.com/in/david-santiago-malag%C3%B3n-baquero-802b65234/"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="mailto: est.maick.mosquera@unimilitar.edu.co"
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/maickmos/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Maick Mosquera</h5>
            <span>Tecnologías de la información</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/TI_Sergio_Silva.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="mailto: est.sergios.silva@unimilitar.edu.co
              "
                ><i class="fa fa-envelope"></i
              ></a>
              <a
                class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                href="https://www.instagram.com/sergiostiven.silva/
              "
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Sergio Silva</h5>
            <span>Tecnologías de la información</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static 'img/Perfil/Juan_Camilo.jpg' %}" alt="" />
            <div class="team-social w-25">
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-linkedin"></i></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fa fa-envelope"></i></a>
              <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="p-4">
            <h5>Juan Camilo</h5>
            <span>Profesor </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

{% endblock %}
