{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Telemetría</h1>
  </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.05s" style="max-width: 600px">
      <h1 class="mb-4">Monitoreo del sistema en vivo</h1>
      <div class="row g-4">
        <div class="d-flex">
          <div class="col-lg-4 col-md-6">
            <h3>Batería</h3>
          </div>
          <div class="col-lg-6 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
            <div class="progress">
              <div id="hola">80</div>
            </div>
          </div>
        </div>
        <div id="Fila1" class="container">
          <div id="lon" class="x">
            <canvas id="Longitud"></canvas>
          </div>
          <div id="lat" class="x">
            <canvas id="Latitud"></canvas>
          </div>
        </div>

        <div id="Fila" class="container">
          <div id="alt" class="x">
            <canvas id="Altitud"></canvas>
          </div>

          <div id="vel" class="x">
            <canvas id="Velocidad"></canvas>
          </div>
        </div>

        <div id="Fila2" class="container">
          <div id="vol" class="x">
            <canvas id="Voltaje"></canvas>
          </div>
          <!--ygyro-->
          <div id="corr" class="x">
            <canvas id="Corriente"></canvas>
          </div>
          <!--zgyro-->
        </div>
        <!--gyroContainer-->
      </div>
    </div>
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.05s" style="max-width: 600px"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.05s" style="max-width: 600px">
      <div id="googleMap" style="width: 100%; height: 400px"></div>

      <script>
        function myMap() {
          var mapProp = {
            center: new google.maps.LatLng(4.63056, -74.08623),
            zoom: 100,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
          };
          // Agregando el mapa al tag de id googleMap
          var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

          // Creando un marker en el mapa
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(4.63056, -74.08623),
            map: map,
            title: "Hello World!",
          });
        }

        // Inicializando el mapa cuando se carga la página
        google.maps.event.addDomListener(window, "load", initialize);
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARaHq5Qz34Z66eZsgQpmCW149xZLbsgPw&callback=myMap"></script>
    </div>
  </div>
</div>
<!-- Service End -->

<script>
  window.onload = function () {
    //Configuration variables
    var updateInterval = 200; //in ms
    var numberElements = 20;

    //Globals
    var updateCount = 0;

    // Chart Objects
    var Longitud = $("#Longitud");
    var Latitud = $("#Latitud");
    var Altitud = $("#Altitud");
    var Velocidad = $("#Velocidad");
    var Voltaje = $("#Voltaje");
    var Corriente = $("#Corriente");
    //chart instances & configuration

    var commonOptions = {
      scales: {
        xAxes: [
          {
            type: "time",
            time: {
              displayFormats: {
                millisecond: "mm:ss:SSS",
              },
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      legend: { display: false },
      tooltips: {
        enabled: false,
      },
    };
    var LongitudInstance = new Chart(Longitud, {
      type: "line",

      data: {
        datasets: [
          {
            label: "Longitud",
            data: 0,
            fill: false,
            borderColor: "#343e9a",
            pointRadius: 1,
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Longitud",
          fontSize: 18,
        },
      }),
    });

    var LatitudInstance = new Chart(Latitud, {
      type: "line",

      data: {
        datasets: [
          {
            label: "Latitud",
            data: 0,
            fill: false,
            pointRadius: 1,
            borderColor: "#343e9a",
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Latitud",
          fontSize: 18,
        },
      }),
    });

    var AltitudInstance = new Chart(Altitud, {
      type: "line",
      data: {
        datasets: [
          {
            label: "Altitud",
            data: 0,
            fill: false,
            borderColor: "#343e9a",
            pointRadius: 1,
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Altitud",
          fontSize: 18,
        },
      }),
    });

    var VelocidadInstance = new Chart(Velocidad, {
      type: "line",
      data: {
        datasets: [
          {
            label: "Velocidad",
            data: 0,
            fill: false,
            borderColor: "#343e9a",
            pointRadius: 1,
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Velocidad",
          fontSize: 18,
        },
      }),
    });

    var VoltajeInstance = new Chart(Voltaje, {
      type: "line",
      data: {
        datasets: [
          {
            label: "Voltaje",
            data: 0,
            fill: false,
            borderColor: "#343e9a",
            pointRadius: 1,
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Voltaje",
          fontSize: 18,
        },
      }),
    });

    var CorrienteInstance = new Chart(Corriente, {
      type: "line",
      data: {
        datasets: [
          {
            label: "Corriente",
            data: 0,
            fill: false,
            borderColor: "#343e9a",
            pointRadius: 1,
            borderWidth: 1,
          },
        ],
      },
      options: Object.assign({}, commonOptions, {
        title: {
          display: true,
          text: "Corriente",
          fontSize: 18,
        },
      }),
    });

    function addData(data) {
      if (data) {
        LongitudInstance.data.labels.push(new Date());
        LongitudInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["longitud"]);
        });
        LatitudInstance.data.labels.push(new Date());
        LatitudInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["latitud"]);
        });
        AltitudInstance.data.labels.push(new Date());
        AltitudInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["altitud"]);
        });
        VelocidadInstance.data.labels.push(new Date());
        VelocidadInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["velocidad"]);
        });
        VoltajeInstance.data.labels.push(new Date());
        VoltajeInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["volt_bateria"]);
        });
        CorrienteInstance.data.labels.push(new Date());
        CorrienteInstance.data.datasets.forEach((dataset) => {
          dataset.data.push(data["curr_bateria"]);
        });
        if (updateCount > numberElements) {
          LongitudInstance.data.labels.shift();
          LongitudInstance.data.datasets[0].data.shift();
          LatitudInstance.data.labels.shift();
          LatitudInstance.data.datasets[0].data.shift();
          AltitudInstance.data.labels.shift();
          AltitudInstance.data.datasets[0].data.shift();
          VelocidadInstance.data.labels.shift();
          VelocidadInstance.data.datasets[0].data.shift();
          VoltajeInstance.data.labels.shift();
          VoltajeInstance.data.datasets[0].data.shift();
          CorrienteInstance.data.labels.shift();
          CorrienteInstance.data.datasets[0].data.shift();
        } else updateCount++;
        LongitudInstance.update();
        LatitudInstance.update();
        AltitudInstance.update();
        VelocidadInstance.update();
        VoltajeInstance.update();
        CorrienteInstance.update();
      }
    }

    function updateData() {
      console.log("Update Data");
      $.ajax({
        url: "ajax",
        type: "GET",
        success: function (data) {
          var hola = data.users[0];
          addData(hola);
        },
      });
      setTimeout(updateData, updateInterval);
    }

    updateData();
  };
</script>
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.05s" style="max-width: 600px">
  <div id="googleMap" style="width: 100%; height: 400px"></div>

  <script>
    function myMap() {
      var mapProp = {
        center: new google.maps.LatLng(4.63056, -74.08623),
        zoom: 100,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
      };
      // Agregando el mapa al tag de id googleMap
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

      // Creando un marker en el mapa
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(4.63056, -74.08623),
        map: map,
        title: "Hello World!",
      });
    }

    // Inicializando el mapa cuando se carga la página
    google.maps.event.addDomListener(window, "load", initialize);
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ulqp73mcv4lPpQbS4atCKNHXXp4w0Rw&callback=myMap"></script>
</div>
</div>
<style>
  .container {
    display: flex;
  }

  .label {
    flex: 1;
    vertical-align: middle;
    text-align: center;
  }

  .x {
    flex: 3;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.73);
    margin: 10px;
  }

  h1 {
    text-align: center;
  }
</style>
{% endblock %}
